.carousel {
  display: flex;
  height: 95%;
  width: 95%;
  justify-content: center;
  align-items: center;
}
.slide_direction {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.imgCarrusel {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border: #7a73d3 3px solid;
  display: block;
  margin: 0 auto;

  filter: grayscale(1);
  box-shadow: -10px 10px 25px;
}

.imgCarrusel:hover {
  cursor: url("../assets/cursor-corazon.svg") 16 16, auto;
  filter: grayscale(0);
  transition: filter 0.4s ease-in-out;
}
.arrowLeft {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.arrowRight {
  height: 50px;
  width: 50px;
}
