@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --font: Pacifico, cursive;
}

.carousel {
  display: flex;
  height: 95%;
  width: 95%;
  justify-content: center;
  align-items: center;
}
.slide_direction {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  gap: 20px;
  box-sizing: border-box;
}

.imgCarrusel {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border: #7a73d3 3px solid;
  display: block;
  margin: 0 auto;
  gap: 10px;

  filter: grayscale(1);
  box-shadow: -10px 10px 25px;
  box-sizing: border-box;
}

.imgCarrusel:hover {
  cursor: url("../assets/cursor-corazon.svg") 16 16, auto;
  filter: grayscale(0);
  transition: filter 0.4s ease-in-out;
}
.arrowLeft {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.arrowRight {
  height: 50px;
  width: 50px;
}

.respuestas {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin-top: 10px;
  gap: 6px;
  font-family: var(--font);
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 90vw;
  box-sizing: border-box;
}
@media (max-width: 600px) or (height < 400px) {
  .respuestas {
    display: none;
  }
}
