.containerLetter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20px;
  margin-top: 20px;
}

.icon-flower {
  filter: drop-shadow(0 0 60px rgba(204, 0, 219, 0.9));
  width: 80px;
  height: 80px;
}
/*Estilos modal letter*/

.envelope-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background: #fffbea;
  border: 2px solid #e0c097;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
  padding: 2rem 1.5rem;
  max-width: 350px;
  min-width: 250px;
  min-height: 200px;
  transition: box-shadow 0.3s;
}

.envelope-container:hover {
  box-shadow: 0 12px 40px rgba(204, 0, 219, 0.25);
}

.envelope-img {
  width: 120px;
  height: auto;
  margin-bottom: 1rem;
}

.envelope-text {
  color: #a67c52;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
/*Fin estilos modal letter*/
