.main-promesa {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/ImgCreatorPromise/ImgFondo5.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-family: system-ui;
}

.nav-promesa {
  width: 100%;
  display: flex;
  justify-content: end;
}

.homeIcon {
  width: 2.5rem;
  height: 2.5rem;
}

.container-promesa {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container-promesa button {
  width: 10rem;
  height: 2rem;
  outline: none;
  border: 1px solid #da9a9a;
  border-radius: 1.5rem;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
}
.container-promesa button:hover {
  background-color: #da9a9a;
  transform: scale(1.2);
  cursor: pointer;
}

.container-form {
  height: 6rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.container-form button {
  width: 50%;
  height: 25%;
  outline: none;
  border: 1px solid #da9a9a;
  border-radius: 1.5rem;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
}
.container-form input {
  width: 70%;
  height: 30%;
  outline: none;
  border: 1px solid #da9a9a;
  border-radius: 1.5rem;
  background-color: transparent;
}

.container-form button:hover {
  background-color: #da9a9a;
  transform: scale(1.2);
  cursor: pointer;
}
