.containerMusic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: visible;

  width: 20rem;
  height: 15rem;

  border: 1px black solid;
  border-radius: 15px;
}

@media (max-width: 600px), (max-height: 700px) {
  .containerMusic {
    width: 95vw;
    min-width: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  .contTxt {
    height: auto;
    max-width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    padding: 10px;
  }
}

.contTxt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  text-align: center;

  padding: 20px;
  height: 15rem;
}

.btnPlay {
  margin-right: 0.5rem;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 34px;
  background-color: transparent;
}

.iconPlay {
  width: 34px;
  height: 34px;
}

.btnPause {
  margin-right: 0.5rem;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 34px;
  background-color: transparent;
}

.descriptArtist {
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.descriptArtist > span {
  font-size: 18px;
}
