.containerMusic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 28rem;
  height: 15rem;

  border: 1px black solid;
  border-radius: 15px;
}

@media (width < 600px) or (height < 700) {
  .containerMusic {
    width: 60%;
    flex-direction: column;
  }
}

.contTxt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  text-align: center;

  padding: 20px;
  height: 15rem;
}

.btnPlay {
  margin-right: 0.5rem;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 34px;
  background-color: transparent;
}

.iconPlay {
  width: 34px;
  height: 34px;
}

.btnPause {
  margin-right: 0.5rem;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 34px;
  background-color: transparent;
}

.descriptArtist {
  font-size: 30px;
}

.descriptArtist > span {
  font-size: 18px;
}
