.main {
  background-color: #35546f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.link-home {
  text-decoration: none;
  color: #f9eef9;
  font-size: 1.2rem;
  padding: 15px;
  border-radius: 15px;
  background-color: #894278;
}

/*carrusel de imagenes*/

.modalCarrusel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeInOverlay 0.3s forwards;
}
.contentModalCarrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  background: #eaeff4;
  padding: 2rem;
  border-radius: 12px;
  position: relative;
  max-width: 95vw;
  max-height: 95vh;
  width: 90%;
  height: 100%;
  text-align: center;

  opacity: 0;
  transform: scale(0.95);
  animation: fadeInModal 0.4s 0.1s forwards;
}

.btnModalCloseCarrusel {
  width: 4rem;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 10px;
}

@keyframes fadeInModal {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-width: 600px) or (max-height: 800px) {
  .modal-content {
    overflow: auto;
    max-height: 80vh;
    overflow-y: auto;
  }
}
@keyframes fadeInOverlay {
  to {
    opacity: 1;
  }
}
