.main {
  background-color: #35546f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.link-home {
  text-decoration: none;
  color: #f9eef9;
  font-size: 1.2rem;
  padding: 15px;
  border-radius: 15px;
  background-color: #894278;
}
